<% @posts.each do |post| %>
<tr>
	<td><%= post.user %></td>
	<td><%= post.title %></td>
	<td><%= post.content %></td>
	<td><%= link_to 'Show', post %></td>
	<td><% if current_user && post.user == current_user %><%= link_to 'Edit', edit_post_path(post) %><% end %></td>
	<td><% if current_user && post.user == current_user %><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you 	sure?' } %><% end %></td>
</tr>
<% end %>